body {
    background-color: white;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.wd-circle-size {
    font-size: 24px;
}

.wd-header {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 8px 12px;
}

.wd-search-bar-icon {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: none;
}

.wd-search-bar-container {
    border-left: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.wd-cog-size {
    font-size: 30px;
}

/*
#wd-search-icon {
    position: relative;
    top: 8px;
    left: 35px;
    width: 25px;
    height: 25px;
}

.wd-search-bar {
    width: 100%;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: rgb(47, 51, 54);
    padding-left: 50px;
}

#wd-settings-menu-icon {
    text-decoration: none;
    color: rgb(29, 161, 242);
    font-size: 35px;
}

.wd-navbar {
    border-bottom: 3px solid rgb(47, 51, 54);
    display: flex;
    justify-content: space-between;
}

.wd-navbar-link-title {
    font-size: 15px;
    font-weight: bold;
    padding: 16px;
    color: rgb(110, 118, 125);
}

.wd-selected-link {
    color: rgb(29, 161, 242);
    border-bottom: 5px solid rgb(29, 161, 242);
}
*/

.wd-post-section {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.wd-picture-caption {
    position: absolute;
    top: 304px;
    left: 8px;
    color: white;
}

/*
.wd-post {
    padding: 16px;
    border: 1px solid rgb(47, 51, 54);
}

.wd-post li {
    margin-top: 10px;
}

.wd-primary-text {
    font-size: 18px;
    font-weight: bold;
}

.wd-secondary-text {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-post-with-image {
    display: flex;
    justify-content: space-between;
}

.wd-user {
    display: flex;
    align-items: center;
    gap: 3px;
}
*/

.wd-profile-pic {
    width: 45px;
    height: 45px;
}

/*
.wd-verified-check {
    width: 20px;
    height: 20px;
}
*/

.wd-article-image {
    width: 100px;
    height: 100px;
}