body {
    background-color: black;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    color: white;
    margin: 16px;
    border: 1px solid rgb(47, 51, 54);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.wd-header {
    padding: 12px 16px;
}

.wd-title-text {
    font-size: 20px;
    font-weight: bold;
}

.wd-secondary-text {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-bookmarked-post {
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgb(47, 51, 54);
    padding-bottom: 12px;
}

.wd-post {
    max-width: 506px;
}

.wd-post-content {
    padding: 12px 16px 12px 0px;
}

.wd-profile-pic {
    padding: 12px 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wd-default-font-size {
    font-size: 15px;
}

.wd-secondary-color {
    color: rgb(110, 118, 125);
}

.wd-linked-content {
    border: 1px solid rgb(47, 51, 54);
    border-radius: 5%;
}

.wd-linked-content-image {
    width: 504px;
    height: 264px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.wd-linked-content-text {
    padding: 0px 12px 12px 12px;
    margin-top: 12px;
}

.wd-linked-content-title {
    font-weight: bold;
}

.wd-linked-content-text li {
    margin-top: 10px;
}

.wd-reactions {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.wd-reactions a {
    text-decoration: none;
    color: rgb(110, 118, 125);
}

.wd-icon {
    color: rgb(110, 118, 125);
    font-size: 20px;
    padding-right: 12px;
}

.wd-liked {
    color: red;
}